

<h1>Captura de Articulos</h1>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Registrar Articulo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="listarProducto.php">Ver Artículos</a>
                </li>
            </ul>
        </div>
    </nav>
    <form id='datosProducto'>
        <div id='exitoP' class="alert alert-success d-none" role="alert"></div>
        <div id='errorP' class="alert alert-danger d-none" role="alert"></div>
        
        <div class="form-group">
            <label for="propietario" class="col-form-label">Propietario:</label>
            <input type="text" class="form-control" id="propietario" required/>
        </div>
        <div class="form-group">
            <label for="articuloTexto">Articulo</label>
            <textarea class="form-control" id="articuloTexto" rows="10"></textarea>
        </div>
        <div class="form-group">
            <label for='foto' class="col-form-label">Foto:</label>
            <input type="file" class="form-control" id="foto"/>                    
        </div>
        <div class="form-group">
            <label for="fechaCreacion" class="col-form-label">Fecha:</label>
            <input type="date" class="form-control" id="fechaCreacion" required/>
        </div>
        <button type="button" class="btn btn-primary" id="guardarA">Guardar</button>
    </form>    
</div>


<script type="text/javascript">
    $(function(){
        $("#guardarA").click(function(){
            console.log("Entras aqui");
           var articulo = {};
           var ruta = "";
           
           articulo.propietario = $("#propietario").val();
           articulo.articuloTexto = $("#articuloTexto").val();
           articulo.foto = "/public/img/cabaña.jpg";
           
           /*$("#foto").on("change", function(evt){
               evt.preventDefault();
               $(evt.target.files).each(function(){
                   console.log($(this).attr("name"));
                   articulo.foto = ruta+$(this).attr("name");
               });
           });*/
           articulo.fechaCreacion = $("#fechaCreacion").val();
           
           $.ajax({
             type: 'POST',
             /*ESTA URL VA A CAMBIAR POR LA IP ASIGNADA DEL SERVICIO
              * CONTRATADO DEL SERVIDOR 
              */
             url: "http://localhost:8083/examen/public/application/guardar",
             data: articulo,
             datatype: "json",
             success: function(data){
                 console.log(data)
                 /*if(data == 1){
                     var html = "<p>Registro Creado Exitosamente</p>"
                     $("#exitoP").append(html);
                     $("#exitoP").removeClass("d-none");
                     
                     setTimeout(function(){ $("#modalAgregarPlatillos").modal("toggle"); }, 2000);
                 }
                 else{
                     var html = "<p>No se pudo insertar el registro</p>"
                     $("#errorP").append(html);
                     $("#errorP").removeClass("d-none");
                 }*/
             }
         });
        });
        
        
    });
</script>